@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
    font-family: Roboto;
    font-size: 16px;
    width: 100vw;
    min-height: 100vh;

}
/* Brand container start */
nav{
    width: 100%;
    height: 70px;
    background-color: #e90101;
}
.container{
    width: 60%;
    height: 100%;
    margin: 0px auto;
    display: flex;
    text-align: center;
    align-items: center;
}
/* Brand container end */

.brand-section{
    display: flex;
    align-items: center;
}

.brand-title a{
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
}
.brand-section a:hover{
    color:rgb(0, 0, 0);
}
.brand-logo{
    margin-right: 1rem;
    
}
.brand-logo a span{
    color:#fff;
    font-size: 2.5rem;
    cursor: pointer;

}
/* 
Main menu start */

.main-menu{
    display: flex;
    margin-left: 2rem;
}

.main-menu a,.right-menu a{
    display: inline-block;
    color: #fff;
    text-decoration: none;
    margin-right: 1rem;
    letter-spacing: 2px;
    text-transform: uppercase;

}
.main-menu a:hover{
    /* text-decoration: underline; */
    color:yellow;

}

/* Right menu start */
.right-menu{
    display: flex;
    align-items: center;
    margin-left:auto;
    
}
.right-menu button{
    background-color: transparent;
    border: none;
    outline:none;
    color: #fff;
    cursor: pointer;

}

.right-menu a:hover{
    text-decoration: underline;
    color:yellow;
}
.right-menu button > span{
    font-size: 1.5rem;
}
/* Right menu end */

/* Profile Dropdown Menu Start */
.dropdown:hover .dropdown-items{
    display:block;
}
.dropdown{
    position: relative;
}

.dropdown > .dropdown-items{
   position: absolute; 
   right: 0%;
   background-color: #fff;
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
   width: 200px;
   border-radius: 0.15rem;
   display: none;
}
.dropdown-items-ul{
    list-style-type: none;

}
.dropdown-item-li{
    padding: 0.5rem 1rem;
    text-align: left;

}
.dropdown-item-li:hover{
    background-color:#ddd;
}
.dropdown-item-li  a{
color: #333;
font-size: 0.9rem;
letter-spacing: normal;
font-weight: bold;

}
.divider{
    border: none;
    border-bottom: 1px solid #ddd;
}

/* Dropdown Menu End */
/* Mega Menu start */
.mega-menu{
    position: relative;
    padding: 1rem 0;
}
.mega-menu:hover .mega-menu-container{
    display: flex;
    gap:2rem;

}

.mega-menu-container{
    position: absolute;
    top:100%;
    width:  700px;
    height: 300px;
    background-color: #fff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    display: none;
    padding: 1rem 2rem;
}
/*Container design end */

.category-list{
    list-style-type: none;
    margin-top: 1rem;

}
.category-list li{
    padding: 0.5rem 1rem;

}
.category-list a{
    color:#333;
    font-size: 0.8rem;
    text-align: left;


}
.category-list a:hover{
    color: aqua ;
    text-decoration: none;
}